

.product-list {
  display: flex; /* Используем flexbox для расположения карточек в строку */
  flex-direction: row; /* Располагаем карточки горизонтально */
  flex-wrap: wrap; /* Позволяем карточкам переноситься на новую строку при малом экране */
  justify-content: center; /* Центрируем карточки по горизонтали */
  gap: 20px; /* Добавляем отступы между карточками */
  padding: 20px;
}
